.form{
	background: rgba(28,28,28,0.9);
	mix-blend-mode: normal;
	border-radius: 10px;
	padding: 78px 22px 71px;
	display: flex;
	justify-content: center;
	@media(max-width: $lg){
		padding: 40px 22px;
	}
	&__wrap{
		max-width: 298px;
		width: 100%;
		@media(max-width: $sm){
			max-width: 100%;
		}
	}
	&__item{
		margin-bottom: 20px;
	}
	&__area{
		width: 100%;
		background: #FFFFFF;
		border-radius: 4px;
		padding: 0 31px;
		border: none;
		height: 48px;
		font-size: 16px;
		line-height: 24px;
		&::placeholder {
			color: #1C1C1C;
		}
	}
	&__info{
		padding-top: 15px;
		font-weight: 300;
		font-size: 13px;
		line-height: 23px;
		color: #7A7A7A;
		padding-left: 10px;
		position: relative;
		&:before{
			content: '*';
			left: 0;
			top: 14px;
			position: absolute;
		}
	}
}
