<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>


<%
let cardList = [
	{
		title: 'tittle1111'
	},
	{
		title: 'tittle2222'
	},
	{
		title: 'tittle3333'
	}
]
%>

<%= _.template(require('../includes/common/head.html').default)(data) %>

<div class="wrapper">
	<header class="wrapper__header">
		<%= _.template(require('../includes/header.html').default)(data) %>
	</header>


	<main class="wrapper__main">

		<section class="section">
			<div class="container">
				<div class="title">Первая страница.</div>
				<ul>
					<% cardList.forEach(function(card) { %>
					<li>
						<%= _.template(require('../includes/card.html').default)(card) %>
					</li>
					<% }); %>
				</ul>
			</div>
		</section>

	</main>

	<footer class="wrapper__footer">
		<%= _.template(require('../includes/footer.html').default)(data) %>
	</footer>
</div>

<%= _.template(require('../includes/common/foot.html').default)(data) %>

