body {
	scroll-behavior: smooth;
	font-family: $f_main;
	&.has-freeze {
		overflow: hidden;
	}
}
html{
	scroll-behavior: smooth;
}

.container {
	max-width: 1087px;
	padding: 0 10px;
	width: 100%;
	margin: 0 auto;
	@media(min-width: $md) and (max-width: $def){
		padding: 0 30px;
	}
}

